<div id="full-container">
    <app-nav></app-nav>
    <div id="smaller">
        <div class="messaging" *ngIf="messages != null">
            <h1 id="messages-title">Direct Messages <img (click)="switchDetails()" id="new-message" src="../../../assets/NewMessage.svg"></h1>
            <div class="messages-list">
                <div class="flex-column" *ngFor="let msg of messages">
                    <p class="message-user-name" (click)="updateCurrentMessages(msg.receiver, msg.messages, msg.id)">{{msg.receiver}}</p>
                    <!-- <div *ngIf="receiver === msg.receiver">
                        <div *ngFor="let m of currentMessages">
                            {{m.message}} ||
                            {{m.sender}} ||
                            {{m.time_stamp}}
                        </div>
                        <div><input #box placeholder="Send message" class="send-message-bar"
                                (keyup.enter)="sendMessage(box.value, msg.id, msg.receiver);box.value=''"> <a
                                class="iconSize" (click)="sendMessage(box.value, msg.id, msg.receiver);box.value=''"><i
                                    class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div> -->
                </div>

            </div>

        </div>

    </div>
    <div *ngIf="receiver" id="content-container" style="background-color: white; margin-top: 0px;">
        <h1 id="messages-title">{{receiver}}</h1>
        <div class="message" *ngFor="let m of currentMessages">
                <a (click)="goToProfile(m.sender)"><div class="profile-photo"></div></a>
            <div class="message-information">
                <div class="flex-row no-padding">
                        <a (click)="goToProfile(m.sender)"><p class="comment-username no-padding">{{m.sender}}</p></a>
                    <p class="no-padding comment-date">{{m.time_stamp | date:'yyyy-MM-dd'}}</p>
                </div>
                <div class="no-padding">
                    {{m.message}}
                </div>
            </div>

        </div>
        <div><input #box placeholder="Send message" class="send-message-bar"
                (keyup.enter)="sendMessage(box.value, messageID, receiver);box.value=''"> <a
                class="iconSize" (click)="sendMessage(box.value, messageID, receiver);box.value=''"><i
                    class="fa fa-angle-double-right"></i></a>
        </div>
      
    </div>
    <div id="content-container" style="background-color: white; margin-top: 0px;" *ngIf="showDetails">
        <h1 id="messages-title">New Message</h1>
        <!-- Here's the input -->
        <input #box placeholder="Find user" class="send-message-bar"
                (keyup.enter)="null">
        <!--
            These are how the users are displayed. Replace the 'zzzzzz' with the profile name and
            change the (click) to whatever you need to start a new message with the person.
            Hopefully this makes your life easier!
                -Zach
        -->
        <div class="profile-link" (click)="null">
            <div class="profile-photo"></div>
            <a class="profile-name">{{'zzzzzz'}}</a>
        </div>
        <div class="profile-link" (click)="null">
            <div class="profile-photo"></div>
            <a class="profile-name">{{'aaaaaaaa'}}</a>
        </div>
    </div>
</div>
