.profile-link {
    flex-grow: 0;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 6px;
    cursor: pointer;
}

.profile-link:hover {
    margin-top: 2px;
}

.profile-name {
    margin-left: 16px;
    margin-top: 3px;
}

.profile-name:hover {
    margin-left: 16px;
}

.profile-photo {
    width: 32px;
    height: 32px;
    background-color: #FAA61A;
    border-radius: 50px;
}
