<span *ngIf="game">
    <img *ngIf="game && game.cover" class="detailed-game-cover" src="{{coverPath}}{{game.cover.image_id}}.jpg" />
    <p class="detailed-game-name">{{game.name}}</p>
    <p class="detailed-game-heading">Release date: {{game.release_date}}</p>
    <span *ngIf="game.storyline">
        <p class="detailed-game-description">{{game.storyline}}</p>
    </span>
    <p class="detailed-game-heading">Rate this game!</p>
    <span *ngIf="game.genres">
        <p class="detailed-game-heading">Genre</p>
        <span *ngFor="let genre of game.genres; let i = index" class="detailed-game-badge">
            {{genre.name}}
        </span>
    </span>
    <span *ngIf="game.platforms">
        <p class="detailed-game-heading">Platforms</p>
        <span *ngFor="let platform of game.platforms; let i = index" class="detailed-game-badge">
            {{platform.name}}
        </span>
    </span>
    <span *ngIf="game.artworks">
        <p class="detailed-game-heading">Artworks</p>
    </span>
</span>