<div *ngIf="game" id="full-container">
    <app-nav></app-nav>

    <div id="content-container">
        <!-- Top Bar -->
        <div class="flex-row center">
            <img src="../../../assets/Arrow.svg" class="back-arrow" (click)="goBack()">
            <h1>{{game.name}}</h1>
            <img *ngIf="isWishListed" class="favorited-button" title="Remove from Wish List" src="../../../assets/Favorited.svg" (click)="removeFromWishList()">
            <img *ngIf="!isWishListed" class="favorited-button" title="Add To Wish List" src="../../../assets/AddToFavorites.svg" (click)="addToWishList()">
            
        </div>

        <!-- Game Image and Information -->
        <div class="overflow-scroll">
            <div class="flex-row top-margin-32">
                <!-- Game image -->
                <img (click)="gotoGamePage()" *ngIf="game && game.cover" class="detailed-game-cover"
                    src="{{coverPath}}{{game.cover.image_id}}.jpg" />

                <!-- Game info -->
                <div id="game-info">
                    <span *ngIf="game.genres" class="detailed-game-badge-container">
                        <p class="detailed-game-heading">Genre</p>
                        <span *ngFor="let genre of game.genres; let i = index" class="detailed-game-badge">
                            {{genre.name}}
                        </span>
                    </span>
                    <div *ngIf="game.platforms" class="detailed-game-badge-container">
                        <p class="detailed-game-heading top-margin-32">Platforms</p>
                        <span *ngFor="let platform of game.platforms; let i = index" class="detailed-game-badge">
                            {{platform.name}}
                        </span>
                    </div>
                    <p class="detailed-game-heading top-margin-32">Release date: {{game.release_date}}</p>
                    <p class="detailed-game-heading top-margin-32">Game Ratings</p>
                    <div class="flex-row">
                        <p class="ratings-label">Global Rating:</p>
                        <p-rating stars="5" [cancel]="false" readonly="true" disabled="true" [(ngModel)]="globalRating">
                        </p-rating>
                    </div>
                    <div class="flex-row">
                        <p class="ratings-label">My Rating:</p>
                        <p-rating stars="5" [cancel]="false" (onRate)="handleRate($event)" [ngModel]="userRating">
                        </p-rating>
                    </div>


                </div>
            </div>
            <span *ngIf="game.storyline">
                <p class="detailed-game-heading">Game Description</p>
                <p class="detailed-game-description">{{game.storyline}}</p>
            </span>





            <span *ngIf="game.artworks">
                <p class="detailed-game-heading top-margin-32">Artworks</p>
                <img *ngFor="let art of game.artworks; let i = index" src="{{screenshotPath}}{{art.image_id}}.jpg"
                    class="detailed-game-art" />
            </span>

            <!-- Comments -->
            
            <div class="flex-row align-center">
                <p class="detailed-game-heading top-margin-32">Comments</p>
                <p class="detailed-game-heading top-margin-32 link" (click)="getTopComments()">Highest Rated</p>
                <p class="detaield-game-heading top-margin-32 link" (click)="getBottomComments()">Lowest Rated</p>
            </div>
            
            <div class="game-comment" *ngFor="let c of comments" >
                <div class="flex-column">
                    <img class="upvote-arrow arrow" (click)="upvote(c)" src="../../assets/CommentArrow.svg">
                    <img class="downvote-arrow arrow" (click)="downvote(c)" src="../../assets/CommentArrow.svg">
                </div>
                <div class="profile-photo"><p>{{c.score}}</p></div>
                <div class="comment-information ">
                    <div class="flex-row no-padding">
                        <p class="comment-username no-padding">{{c.username}}</p>
                        <p class="no-padding comment-date">{{c.time_stamp | date:'yyyy-MM-dd'}}</p>
                    </div>
                    <div class="no-padding">
                        {{c.comment}}
                    </div>
                    
                </div>
                
                
                
                
            </div>
            <span>
                    <!-- Ability to add comment -->
                    
                    <div><input #box placeholder="Add Comment" class="send-message-bar"
                        (keyup.enter)="addComment(box.value);box.value=''"></div>
                </span>
        </div>

    </div>

</div>