<div *ngIf="user != null" id="full-container">

  <app-nav></app-nav>

  <!-- This div contains all of the actual content, such as the search bar and game list -->
  <div id="content-container">

    <!-- Search bar and profile information located at the top of the page -->
    <div id="content-bar">
        <div class="search-wrapper">
            <input class="search-bar" [(ngModel)]="filterText" placeholder="Search acclaimed games" id="home-page-search"/>
            <img class="search-pic"src="../../../assets/Nav/Search.svg"/>
            
        </div>
        
        <app-user-overview username="Benkahlert"></app-user-overview>
    </div>

    <!-- This div contains a sneak peak of the list of games a user has saved -->
    <!-- Commenting out this unless we do something with it
    <div id="home-my-games">
      <a class="header-link"><h1>My Games</h1><img class="header-link-arrow" src="../../../assets/Arrow.svg"></a>
    </div>
    -->

    <!-- This div contains critically acclaimed games -->
    <div class="header-link"><h1>Critically Acclaimed Games</h1><p-dropdown class="zach-dropdown" [options]="sortOptions" [(ngModel)]="selectedOption"></p-dropdown></div>
    <div id="home-critically-acclaimed">
      
      <span *ngFor="let item of dashboardGames | searchPipe : filterText : selectedOption">
          <app-game-overview *ngIf="item.cover" [globalRating]="item.globalRating" [userRating]="item.userRating"
                             [name]=item.name [id]=item.id
                             [image_id]=item.cover.image_id></app-game-overview>
          <app-game-overview *ngIf="!item.cover" [globalRating]="item.globalRating" [userRating]="item.userRating" [name]=item.name [id]=item.id image_id=""></app-game-overview>
        </span>
    </div>
  </div>
</div>
