<div id="full-container">

  <app-nav></app-nav>

  <div id="content-container">
    <div id="content-bar">
      <div class="search-wrapper">
        <input class="search-bar" [(ngModel)]="filterText" placeholder="Search for users"/>
        <img class="search-pic"src="../../../assets/Nav/Search.svg"/>
        <br>
      </div>
      <br>
      <br>

      <span *ngFor="let user of users | userSearchPipe : filterText">
        <li>{{user.username}}</li>

        </span>

  </div>
</div>
</div>
