<!-- Main App Contianer -->
<div class="main-container">

  <!-- Router Content -->
  <div class="p-2 no">
      <!-- <div class="d-flex "> -->
          <div class="p-2 xd">
              <router-outlet></router-outlet>
          </div>
      <!-- </div> -->
  </div>
  <!-- Router Content -->

  <!-- Footer -->
  <footer class="page-footer font-small">
      <div class="footer text-center py-3 tableColor">Built and Engineered by:
          <a>Purdue University CS407 Group 10, Fall 2019</a>
      </div>
  </footer>
  <!-- Footer -->
</div>
<!-- Main App Contianer -->