<nav id="nav-container">
    <div class="flex-item-grow" >
        <img class="hover" routerLink="/home" src="../../../assets/Nav/Logo.png" id="nav-logo">
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/home"><img src="../../../assets/Nav/Home.svg" class="nav-icon">Home</a>
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/profile/{{username}}"><img
          src="../../../assets/Nav/MyShelf.svg" class="nav-icon">My Shelf</a>
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/inbox"><img
          src="../../../assets/Nav/Messaging.svg" class="nav-icon">Notifications</a>
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/search"><img
          src="../../../assets/Nav/Search-White.svg" class="nav-icon">Search</a>
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/find-users"><img
          src="../../../assets/Nav/Reviews.svg" class="nav-icon">Find a Friend</a>
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/leaderboard"><img
          src="../../../assets/Nav/Reviews.svg" class="nav-icon">Leaderboard</a>
    </div>

    <div class="flex-item-shrink">
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/settings"><img
          src="../../../assets/Nav/Settings.svg" class="nav-icon">Settings</a>
        <a class="zach-nav-link" routerLinkActive="nav-current-page" routerLink="/login"(click)="logout()"><img
          src="../../../assets/Nav/Sign Out.svg" class="nav-icon">Sign Out</a>
    </div>

</nav>
