<!-- This div contains all of the actual content, such as the search bar and game list -->
<div id="full-container">
    <app-nav></app-nav>
    <div id="content-container">
        <!-- Search bar and profile information located at the top of the page -->
        <div id="content-bar">
            <div class="search-wrapper">
                <input class="search-bar" [(ngModel)]="queryString" placeholder="Search for games"
                type="text" name="search" id="search-page-search"/>
                <img src="../../../assets/Nav/Search.svg"/>
                <input type="image" class="search-button" src="../../../assets/Arrow.svg" (click)="getSearchedGames()"/>
            </div>
            <p-dropdown [options]="platformOptions" [(ngModel)]="selectedPlatformOption" (onChange)="sortPlatforms()"></p-dropdown>
            <p-dropdown [options]="sortingOptions" [(ngModel)]="selectedSortingOption"></p-dropdown>
        </div>

        <div *ngIf="searchedGames" class="header-link"><h1>Search Results for '{{queryString}}'</h1></div>
        <div id="search-results">
            <span *ngFor="let item of searchedGames | searchPipe : '' : selectedSortingOption">
                <app-game-overview *ngIf="item.cover" [globalRating]="item.globalRating" [userRating]="item.userRating"
                                    [name]=item.name [id]=item.id
                                    [image_id]=item.cover.image_id></app-game-overview>
                <app-game-overview *ngIf="!item.cover" [name]=item.name [id]=item.id image_id=""></app-game-overview>
            </span>
        </div>
    </div>
</div>
