<div id="full-container" *ngIf="component == 'inbox'">

  <app-nav></app-nav>

  <div id="content-container">

    
      <h1 *ngIf="hasNotifications">Notifications:</h1>
      <h1 *ngIf="!hasNotifications">Whoops, looks like you don't have any notifications!</h1>
    <!-- Display notifications -->
    <div class="overflow-scroll" *ngIf="hasNotifications">
       <div *ngFor="let i of inbox">
         <p *ngIf="i.type == 'message'" class="notification-title">📣 From <a class="notification-link" (click)="renderComponent('messages')" >{{i.sender}}</a> on {{i.timeStamp | date:'yyyy-MM-dd'}} </p>
         <p *ngIf="i.type == 'follower'" class="notification-title">📣 From <a class="notification-link" (click)="renderComponent(i.sender)" >{{i.sender}}</a> on {{i.timeStamp | date:'yyyy-MM-dd'}} </p>
         <p>{{i.message}}</p>
       </div>
    </div>
  </div>

</div>

<div class="d-flex flex-column justify-content-center animated fadeInUp">
    <app-message *ngIf="component == 'messages'"></app-message>
</div>