<div id="full-container">

  <app-nav></app-nav>

  <div id="content-container">

    
      <h1 *ngIf="hasNotifications">Notifications:</h1>
      <h1 *ngIf="!hasNotifications">Whoops, looks like you don't have any notifications!</h1>
    <!-- Display notifications -->
    <div class="overflow-scroll" *ngIf="hasNotifications">
       <div *ngFor="let i of inbox">
         <p class="notification-title">📣 From {{i.sender}} on {{i.timeStamp | date:'yyyy-MM-dd'}}</p>
         <p>{{i.message}}</p>
       </div>
    </div>
  </div>

</div>

<div id="orange-profile-dot"></div>
            <div id="profile-username">
                <!-- Owner -->
                <p class="profile-username-text" *ngIf="user != null && isOwner">Hey there, {{user.username}}!</p>
                <!-- !Owner -->
                <p class="profile-username-text" *ngIf="user != null && !isOwner">{{user.username}}</p>
                <p class="profile-username-subtext" *ngIf="user != null">{{user.email}}</p>

                <!-- Unfollow -->
                <button *ngIf="!isOwner && followStatus" class="messagesButton-unfollow" mdbBtn type="button" color="info"
              (click)="toggleFollow()">{{followButtonText}}</button>

              <button *ngIf="!isOwner && !followStatus" class="messagesButton-follow" mdbBtn type="button" color="info"
              (click)="toggleFollow()">{{followButtonText}}</button>
            </div>