<div id="full-container">

  <app-nav></app-nav>

  <div id="content-container">

    
      <h1 *ngIf="hasNotifications">Notifications:</h1>
      <h1 *ngIf="!hasNotifications">Whoops, looks like you don't have any notifications!</h1>
    <!-- Display notifications -->
    <div class="overflow-scroll" *ngIf="hasNotifications">
       <div *ngFor="let i of inbox">
         <p class="notification-title">📣 From {{i.sender}} on {{i.timeStamp | date:'yyyy-MM-dd'}}</p>
         <p>{{i.message}}</p>
       </div>
    </div>
  </div>

</div>