<p *ngIf="user != null"> username {{user.username}} </p>
<p *ngIf="user != null"> birthday {{user.birthday}} </p>
<p *ngIf="user != null"> email {{user.email}} </p>
<p *ngIf="user != null"> Date Created {{user.date_created}} </p>
<p *ngIf="user != null"> Games Played {{user.games_played}} </p>
<p *ngIf="user != null"> Games Rated {{user.games_rated}} </p>
<p *ngIf="user != null"> Friends {{user.friends}} </p>
<p *ngIf="user != null"> Inbox {{user.inbox}} </p>
<p *ngIf="user != null"> Wish List {{user.wish_list}} </p>
